/system/

/vendor/

application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html

.DS_Store
Thumbs.db
nbproject/
.idea/*
*.sublime-workspace
*.sublime-project

user_guide_src/build/*
tests/results/